:root {
  --main: rgb(79, 161, 255);
  --accent: rgb(0, 119, 255);
  --text: white;
}

.counter {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-weight: bold;
  padding-top: 4em;
  padding-bottom: 2em;
  background-color: var(--main);
  min-height: 40vh;
  transition: background-color 1s linear;
}

.counter--circle {
  display: none;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 12rem;
  line-height: 12rem;
  border-radius: 50%;
  border: 0.15em solid rgba(255, 255, 255, 0.26);
  font-size: 4.5rem;
  color: white;
}

.days {
  font-size: 0.4rem;
  pointer-events: none;
}

.circular--chart {
  max-height: 60vh;
}

.circle {
  stroke: #ffffff86;
  fill: none;
  stroke-width: 1.4;
  stroke-linecap: round;
}

#info--text {
  color: rgb(255, 255, 255);
  margin: auto;
  text-align: center;
  font-weight: 400;
  padding: 1em;
  pointer-events: none;
}