.stay-duration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.duration-line {
  border-bottom: 0.2em solid var(--accent);
  min-width: 4em;
}

.button-remove__card {
  width: 3em;
  height: 2em;
  margin-top: -3em;
}