
.stay {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--main);
  transition: background-color 300ms linear;
  padding-top: 1em;
  margin: auto;
  margin-top: 1em;
  border-radius: 0em;
}

.empty {
  background-color: white;
}

.item-enter {
  transform: scale(0);
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease-in, transform 300ms ease-in-out;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: opacity 300ms ease-in, transform 300ms ease-in-out;
}

@media (min-width: 900px) {
  .stay {
    max-width: 70vw;
    border-radius: 0.5em;
  }
}

@media (min-width: 1400px) {
  .stay {
    max-width: 50vw;
    border-radius: 0.5em;
  }
}


